.navbar-header {
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}
