.home-welcome {
  border: 1px solid black;
  height: 40%;
  width: 80%;
  margin: 0 auto;
}

.home-body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 80px;
}

.home-header {
  width: 100%;
  position: fixed;
  background: white;
}
