.home-welcome {
  width: 60%;
  margin: inherit;
  background: transparent;
  float: left;
  font-size: 18px;
}

.home-page img {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
}

.home-body {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px;
  background: transparent;
  width: 65%
}

.home-header {
  width: 100%;
  position: fixed;
  background: white;
}

.home-page {
  height: 700px;
  background-color: rgba(0, 0, 0, 0.05);
}

.home-page h1 {
  color: #333333
}

.welcome-button {
  display: inline-flex;
  padding-right: 30px;
}

.fa-rss-square {
  color: #28a745;
}

.btn-success:focus {
  outline: none;
}

.btn-primary:focus {
  outline: none;
}

.footer-navbar {
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer-icons {
  display: inline-flex;
  margin: 0 auto;
  width: 25%;
  justify-content: space-around;
}

.features-container {
  display: block;
  width: 90%;
  margin: 0 auto;

}

.feature-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.feature-item {
  display: block;
  width: 30%;
  font-size: 13px;
  padding: 30px;
}

.features-title {
  text-align: center;
  margin: 50px;
}
