.session-input {
  border: 1px solid black;
  padding: 5px 10px 5px;
  margin: 5px 10px 15px;
  text-align: left;
}

.session-label {
  display: contents;
}

.session-errors {
  display: list-item;
}

.display-linebreak {
  white-space: pre-line;
}
