.navbar-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  box-sizing: border-box;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: 15%;
  margin-right: 15%
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.user-header {
  vertical-align: middle;
  justify-content: space-between;
}

.user-icon {
  padding-right: 30px;
  padding-left: 10px;
}
