.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  opacity: 1;
}

.sidenav a {
  font-size: 14px;
  display: list-item;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

.sidenav .fa {
  padding-right: 15px;
}

.sidenav a:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.sidenav-toggle-btn {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 24px;
  margin-left: 50px;
}

.sidenav-toggle-btn:focus {
  outline: none;
}

.hidden {
  display: none;
}

.sidenav label {
  font-size: 14px;
  padding-left: 20px;
  padding-top: 30px;
  list-style: none;
}

.sidenav label a {
  width: auto;
}

.sidenav-content .fa {
  color: #aaa;
  vertical-align: baseline;
}

.feed-li-item {
  padding-left: 40px;
  font-weight: bold;
}
//
// .add-content-btn {
//   background: #28a745;
//   z-index: 1;
// }

.sidenav .fa-plus {
  color: #fff;
}

.add-content-btn-text {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  vertical-align: -webkit-baseline-middle;
}

.sidenav .add-content-btn {
  background: #28a745;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  height: 51px;
  padding-top: 18px;
  color: #fff;
  font-size: 12px;
  padding-left: 65px;
}

.sidenav .add-content-btn:hover {
  background: #218838;
  z-index: 1;
  text-decoration: none;
}
