.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.3s;
  opacity: 1;
}

.sidenav a {
  font-size: 13px;
  display: list-item;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  color: black;
}

.sidenav .fa {
  padding-right: 15px;
}

.sidenav a:hover {
  cursor: pointer;
  background-color: #dddddd;
  text-decoration: none;
}

.sidenav-toggle-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 24px;
  margin-left: 50px;
}

.sidenav-toggle-btn:focus {
  outline: none;
}

.hidden {
  display: none;
}

.sidenav label {
  font-size: 14px;
  // padding-left: 20px;
  list-style: none;
  color: #aaa;
}

.sidenav label a {
  width: auto;
}

.sidenav-content .fa {
  color: #aaa;
  vertical-align: baseline;
}

.feed-li-item {
  padding-left: 40px;
  font-weight: bold;
}
//
// .add-content-btn {
//   background: #28a745;
//   z-index: 1;
// }

.sidenav .fa-plus {
  color: #fff;
}

.add-content-btn-text {
  font-size: 12px;
  color: #fff;
  padding-left: 15px;
  vertical-align: -webkit-baseline-middle;
}

.sidenav .add-content-btn {
  background: #28a745;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  height: 51px;
  padding-top: 18px;
  color: #fff;
  font-size: 12px;
  padding-left: 65px;
}

.sidenav .add-content-btn:hover {
  background: #218838;
  z-index: 1;
  text-decoration: none;
}

.collection-settings .fa-cog {
  outline: none;
  right: 5px;
  font-size: 18px;
  padding: 0;
  margin-right: 7px;
  background-color: none;
}

.collection-settings .fa-cog:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

a .collection-settings .fa-cog:hover {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  background-color: none;
}

.collection-index-item {
  padding-top: 5px;
  font-weight: bold;
  font-size: 13px;
}

.collection-feed-index {
  margin-left: 25px;
}

.collection-feed-icon {
  width: 30px;
}

.collection-feed-item {
  text-decoration: none;
  color: black;
  font-weight: normal;
  display: -webkit-box;
  margin-left: 25px;
}

.collection-feed-item a {
  color: black;
  text-decoration: none;
}

.collection-index {
  overflow: scroll;
}

.container {
  align-items: baseline;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: baseline;
}

.separator {
  padding-top: 30px;
}

.collection-item-header {
  display: inline-flex;
  font-size: 13;
  vertical-align: baseline;
}

.collection-item-title .fa-angle-down {
  font-size: 18px;
}

.collection-item-title:hover {
  text-decoration: none;
}

.collection-feed-icon {
  width: 16px;
  object-fit: cover;
}

.collection-feed-name {
  margin-left: 10px;
}


button:focus {outline:0;}
