.feed-index-item {
  border: 2px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  width: -webkit-fill-available;
  inline-size: -webkit-fill-available;
  font-size: 12px;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  max-width: 40%;
  float: left;
}

.feed-index-menu {
  text-align: center;
}

.feed-index-icon {
  width: 80px;
  height:80px;
  object-fit: cover;
}

.feed-index-text {
  padding-left: 15px;
  text-decoration: none;
  color: black;
}
.feed-index {
  display: block;
}

.feed-index-title {
  padding-top: 20px;
  padding-bottom: 30px;
}

.feed-index-image {
  width: 254px;
  height: 182px;
  object-fit: cover;
}

.feed-index-item a {
  text-decoration: none;
}

.feed-show-item {
  border: 2px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  width: -webkit-fill-available;
  inline-size: -webkit-fill-available;
  font-size: 12px;
  margin: 7px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
